<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Paythor_SanalPosPro::config"
                                      title="Paythor SanalPos Pro – Payment Configuration"
                                      translate="title" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Paythor_SanalPosPro::paythor"
                          title="Paythor"
                          translate="title" sortOrder="90">
                    <resource id="Paythor_SanalPosPro::connect"
                              title="Connect Account"
                              translate="title" sortOrder="10"/>
                    <resource id="Paythor_SanalPosPro::transactions"
                              title="Transaction Logs"
                              translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
