<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paythor_sanalpospro>
                <active>0</active>
                <model>PaythorSanalPosProFacade</model>
                <title>Credit / Debit Card (Paythor SanalPos Pro)</title>
                <order_status>pending_payment</order_status>
                <sandbox_mode>1</sandbox_mode>
                <app_id>105</app_id>
                <api_key/>
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <webhook_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <debug>0</debug>
                <allowspecific>0</allowspecific>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_use_internal>0</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_use_for_multishipping>0</can_use_for_multishipping>
                <is_gateway>1</is_gateway>
                <currency>TRY,USD,EUR</currency>
                <sort_order>1</sort_order>
            </paythor_sanalpospro>
        </payment>
    </default>
</config>
