<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ================================================================ -->
    <!-- 1. DEDICATED LOGGER: var/log/paythor_sanalpospro.log             -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/paythor_sanalpospro.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProLogger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">paythor_sanalpospro</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">PaythorSanalPosProLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 2. GATEWAY CONFIG (reads payment/paythor_sanalpospro/* paths)    -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Paythor\SanalPosPro\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 3. GATEWAY HTTP CLIENT                                           -->
    <!-- ================================================================ -->
    <type name="Paythor\SanalPosPro\Gateway\Http\Client\PaythorGatewayClient">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <!-- ================================================================ -->
    <!-- 4. REQUEST BUILDER COMPOSITES                                    -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Paythor\SanalPosPro\Gateway\Request\PaymentDataBuilder</item>
                <item name="authorization" xsi:type="string">Paythor\SanalPosPro\Gateway\Request\AuthorizationDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="capture" xsi:type="string">Paythor\SanalPosPro\Gateway\Request\CaptureDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">Paythor\SanalPosPro\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProVoidRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="void" xsi:type="string">Paythor\SanalPosPro\Gateway\Request\VoidDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 5. RESPONSE HANDLER CHAINS                                       -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProAuthorizationHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="transaction_id" xsi:type="string">Paythor\SanalPosPro\Gateway\Response\TransactionIdHandler</item>
                <item name="payment_details" xsi:type="string">Paythor\SanalPosPro\Gateway\Response\PaymentDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProCaptureHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="transaction_id" xsi:type="string">Paythor\SanalPosPro\Gateway\Response\TransactionIdHandler</item>
                <item name="payment_details" xsi:type="string">Paythor\SanalPosPro\Gateway\Response\PaymentDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 6. ERROR CODE MAPPER                                             -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProErrorMappingConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">sanalpospro_error_mapping.xml</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProErrorMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">PaythorSanalPosProErrorMappingConfigReader</argument>
            <argument name="cacheId" xsi:type="string">paythor_sanalpospro_error_mapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProErrorMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">PaythorSanalPosProErrorMappingData</argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 7. GATEWAY COMMANDS (virtualTypes of GatewayCommand)             -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaythorSanalPosProAuthorizeRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\Client\PaythorGatewayClient</argument>
            <argument name="handler" xsi:type="object">PaythorSanalPosProAuthorizationHandler</argument>
            <argument name="validator" xsi:type="object">Paythor\SanalPosPro\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">PaythorSanalPosProErrorMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaythorSanalPosProCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\Client\PaythorGatewayClient</argument>
            <argument name="handler" xsi:type="object">PaythorSanalPosProCaptureHandler</argument>
            <argument name="validator" xsi:type="object">Paythor\SanalPosPro\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">PaythorSanalPosProErrorMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaythorSanalPosProRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\Client\PaythorGatewayClient</argument>
            <argument name="validator" xsi:type="object">Paythor\SanalPosPro\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">PaythorSanalPosProErrorMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaythorSanalPosProVoidRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Paythor\SanalPosPro\Gateway\Http\Client\PaythorGatewayClient</argument>
            <argument name="validator" xsi:type="object">Paythor\SanalPosPro\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">PaythorSanalPosProErrorMapper</argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 8. COMMAND POOL                                                  -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">PaythorSanalPosProAuthorizeCommand</item>
                <item name="capture" xsi:type="string">PaythorSanalPosProCaptureCommand</item>
                <item name="refund" xsi:type="string">PaythorSanalPosProRefundCommand</item>
                <item name="void" xsi:type="string">PaythorSanalPosProVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 9. VALUE HANDLER POOL                                            -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PaythorSanalPosProGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PaythorSanalPosProConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 10. VALIDATOR POOL                                               -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">PaythorSanalPosProGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaythorSanalPosProValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">PaythorSanalPosProCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 11. PAYMENT METHOD FACADE (Adapter virtualType)                  -->
    <!-- ================================================================ -->
    <virtualType name="PaythorSanalPosProFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Paythor\SanalPosPro\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">PaythorSanalPosProValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">PaythorSanalPosProValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">PaythorSanalPosProCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- ================================================================ -->
    <!-- 12. INJECT DEDICATED LOGGER INTO MODULE CLASSES                  -->
    <!-- ================================================================ -->
    <type name="Paythor\SanalPosPro\Model\Api\PaythorAdapter">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <type name="Paythor\SanalPosPro\Controller\Payment\Create">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <type name="Paythor\SanalPosPro\Controller\Payment\Callback">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <type name="Paythor\SanalPosPro\Controller\Payment\Confirm">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <type name="Paythor\SanalPosPro\Controller\Webhook\Notify">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <type name="Paythor\SanalPosPro\Model\Order\PaymentStateManager">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <type name="Paythor\SanalPosPro\Console\Command\CaptureInitiatedPayments">
        <arguments>
            <argument name="logger" xsi:type="object">PaythorSanalPosProLogger</argument>
        </arguments>
    </type>

    <!-- Register console commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="paythor_capture_initiated" xsi:type="object">Paythor\SanalPosPro\Console\Command\CaptureInitiatedPayments</item>
            </argument>
        </arguments>
    </type>

    <!-- ================================================================ -->
    <!-- 13. SENSITIVE / ENVIRONMENT-SPECIFIC CONFIG PATHS                -->
    <!-- ================================================================ -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="payment/paythor_sanalpospro/api_key" xsi:type="string">1</item>
                <item name="payment/paythor_sanalpospro/api_secret" xsi:type="string">1</item>
                <item name="payment/paythor_sanalpospro/webhook_secret" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="payment/paythor_sanalpospro/sandbox_mode" xsi:type="string">1</item>
                <item name="payment/paythor_sanalpospro/api_key" xsi:type="string">1</item>
                <item name="payment/paythor_sanalpospro/api_secret" xsi:type="string">1</item>
                <item name="payment/paythor_sanalpospro/webhook_secret" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

</config>
